*.pdf
*.class
*~
*plantuml.png
*.sublime-project
*.sublime-workspace
developpement/doc/*
developpement/classes
developpement/Client/classes
developpement/Server/classes
developpement/rmiregistry/*
sonar-project.properties